.DetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 500px;
  padding: 20px;
  border-radius: 10px;

  .name {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
  }

  .genus {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }

  .des {
    white-space: normal;
    word-wrap: break-word;
    max-width: 80%; /* 너무 길게 퍼지지 않게 제한 (선택사항) */
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  img {
    width: 200px;
  }
}
